@import url(https://fonts.googleapis.com/css?family=Helvetica+Neue:400,700,300);

.navbar-brand img {
  height: 70px;
  width: 70px;
}
.form-space{
  padding: 20px;
}
.logo-brand{
  width: 100%
  height:50px;
}
.contact_us{
  padding-top: 140px;
}
.info-space{
  padding-top: 40px;
  padding-bottom: 20px;
}
.green a{
  color: #1faf22;
  font-size: 16px;
}
.univ-mysore{
  color:#1faf22; 
}
.ridge {border-style: ridge;}
@media (max-width: 768px) {
.navbar-brand img {
  height: 30px;
  width: 30px;
}
}
.wpb-wrapper{
  clear: both;
  position: relative;
}
.item {
    transition: display 1500ms linear 0s;
    overflow:hidden;
}
.item.active img {
    transition: transform 5000ms linear 0s;
    /* This should be based on your carousel setting. For bs, it should be 5second*/
    transform: scale(1.05, 1.05);
}


  
  .center{
    text-align: center;
  }

.btn-custom {
  border:2px solid rgba(0,0,0,0.08);
  padding:10px;
  color: #fff;
}

.btn_center {
  text-align: center;
}

.btn-custom:hover {
  background-color: #fff;
}

.center {
  margin: 0px auto;
  display: table;
  padding: 10px;
  text-align: center;
}

#programs {
  background-color: #EAEAEA;  
  text-align:center;
}

 .card-content {
  padding: 10px;
}

.card {
  background-color: #FFFFFF;
  margin: 10px auto;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}

.card a {
  color: #333;
}

.card-heading{
  border-left: 3px solid #8a52ad;
}

.card-heading h4{
 padding-left: 20px;
}

.card-header {
  overflow: hidden;
  width: 100%;
  max-height: 200px;
}

.card-header img{
  width: 100%;
}

.card-content {
  width: 85%;
  margin: 35px auto;

}

.card-content h3 {
  /*font-size: 25px;*/
  margin-bottom: 0;
  color: #303F9F;
}

.card-content h4 {
/*  font-size: 14px;*/
  margin-top: 0;
}

.card-content p {
  /*font-size: 14px;*/
  
}

.card-content #sub {
   color: #727272;
   font-size: 12px;
}

 
.card-footer {
  padding: 5px;
}

.card-footer ul {
  padding: 0;
  width: 90%;
  margin: auto;
  text-align: center;
}

.card-footer ul li{
  display: inline-block;
  list-style: none;
  margin: 5px;
}

.card-footer ul li i {
  font-size: 2em;
  color: #3F51B5;
}

#student_slider {
    color: #ffffff;
    height: 400px;
    background-image: url('../images/speech.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


.placement_Details {
    background-image: url('../images/Campus-Placement-Partners.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}

.industry_Details {
    background-image: url('../images/Industry-Advisory-Committee.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}

.studio {
    background-image: url('../images/ipixio-Studio-1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}
.about {
    background-image: url('../images/About.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}

.team {
    background-image: url('../images/Team.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}
.university {
    background-image: url('../images/PROGRAM_university_Banner.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}

.career{
    background-image: url('../images/CAREER-1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}
.showcase {
    background-image: url('../images/Showcase.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}
.community {
    background-image: url('../images/community_2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}
.blog {
    background-image: url('../images/Blog_1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}
.apply_now {
    background-image: url('../images/iPixio-Creative-Aptitude-Test.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}
.fashion_degree {
    background-image: url('../images/Fasion-Degree.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}
.animation_degree {
    background-image: url('../images/Animation-Degree.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}
.career_imd {
    background-image: url('../images/IMAD.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}
.career_i3d {
    background-image: url('../images/PROGRAM_career_I3D_Banner.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}
.career_ifx {
    background-image: url('../images/ifx.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}
.career_igap{
background-image: url('../images/PROGRAM_career_IGAP_Banner.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 180px; 
    margin-top: -20px;
    min-height: 428px;
    text-align: center;
    color:#ffffff;
}

.progress-bar-purple{
  background-color: #673ab7;
}

.progress-content{
  position: relative;
  top: 5px;

}


.footer-social-icons {/*
    width: 350px;*/
    display:block;
    margin: 0 auto;
}

.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
    margin-left: -40px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-pinterest {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-pinterest:hover {
    background-color: #e64a41;
}
.fa-youtube {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-envelope {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-envelope:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e64a41;
}
.fa-instagram{
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #ffeb3b;
}

